
<template>
    <div id='app'>
    <h1>Boodschappen</h1>
    <table>
        <thead>
                <tr>
                    <th>Naam</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="grocery in groceries">
                    <td> {{ grocery.name }} </td>
                    <input type="number" v-model="grocery.quantity"/>
                    <td> {{ grocery.cost }}</td>
                    <td> {{ grocery.cost * grocery.quantity }}</td>
                </tr>
            </tbody>
            
              <td colspan="4">Total:{{ totalAll }}</td>
    </table>
    
    </div>  
</template>
<script>
export default {
    name: "Boodschap",
    data: ()=> {
        return{
        groceries: [{name: 'Banaan', quantity: 0, cost: 2},{name: 'Appel', quantity: 0, cost: 4}]
        };
    },
    computed: {

        totalAll: function () {
                    let sum = 0;
                    this.groceries.forEach(e => {
                        sum += e.cost * e.quantity;
                    });
                    return sum;
        },        
        totalProduct: function () {
                      let sum = 0;
                    this.groceries.forEach(e => {
                        sum += e.cost * e.quantity;
                    });
                    return sum;
        }
    }
};
</script>