<template>
    <Boodschap></boodschap>
</template>

<script>
import Boodschap from './components/Boodschap.vue'

export default {
  components: {Boodschap},
   data() {
    return {
         
    }
  }
}
</script>
<style>
table,th,td {
  border: 1px solid black;
}
</style>
